{% extends 'base.html' %}
{% load static %}

{% block title %}
ABOUT
{% endblock %}


{% block content %}


<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>ME!</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'img/min.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Data Analyst가 되고 싶은</h3>
            <p class="fst-italic">
              안녕하세요 <br>
              웹 페이지 제작<br>
              너무 어려워요😥<br>
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Name:</strong> Gimin Kim</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong><a href="https://statsbymin.tistory.com/"> statsbymin.tistory.com</a></li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> 010-9102-1488</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Gumi, Korea</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 23</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Undergraduate</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> statsbymin@gmail.com</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Major:</strong> Information Statistics</li>
                </ul>
              </div>
            </div>
            <p>
              
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>프로그래밍 스킬</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                <!-- <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> -->
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SAS <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">R <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                <!-- <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> -->
              </div>
            </div>

            <div class="progress">
              <span class="skill">BI <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Excel <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->



  </main><!-- End #main -->
{% endblock %}