{% extends 'base.html' %}
{% block title %}
RESUME
{% endblock %}

{% block content %}
<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>학력, 교육, 자격 등의 일련의 활동들을 이력서에 나열했습니다.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">학력/병역사항</h3>
            <div class="resume-item pb-0">
              <h4>안동대학교(졸업예정)</h4>
              <h5>2017.03 - Present</h5>
              <p>
              <ul>
                <li><strong>전공 : </strong>정보통계학과/지능정보기술융합전공(부전공)</li>
                <li><strong>학점 : </strong>3.81 / 4.5</li>
                <li><strong>병역사항 : </strong>육군 병장 만기전역</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">자격/어학</h3>
            <div class="resume-item">
              <h4>빅데이터 분석기사</h4>
              <h5>2022.07</h5>
              <p><em>한국데이터베이스진흥원</em></p>
              <p>기사</p>
            </div>
            <div class="resume-item">
              <h4>데이터분석준전문가(ADsP)</h4>
              <h5>2020.09</h5>
              <p><em>한국데이터베이스진흥원</em></p>            
            </div>
            <div class="resume-item">
              <h4>SQL개발자(SQLD)</h4>
              <h5>2021.12</h5>
              <p><em>한국데이터베이스진흥원</em></p>        
            </div>
            <div class="resume-item">
              <h4>사회조사분석사2급</h4>
              <h5>2021.06</h5>
              <p><em>한국산업인력공단</em></p>
            </div>
            <div class="resume-item">
              <h4>마케팅조사분석사2급</h4>
              <h5>2021.06</h5>
              <p><em>한국커리어개발원</em></p>
            </div>
            <div class="resume-item">
              <h4>GAIQ(Google Analytics Individual Qualification)</h4>
              <h5>2021.12</h5>
              <p><em>Google</em></p>
            </div>
            <div class="resume-item">
              <h4>SAS Certified Base Programmer</h4>
              <h5>2021.02</h5>
              <p><em>SAP KOREA</em></p>
            </div>
            <div class="resume-item">
              <h4>TOEIC Speaking Test</h4>
              <h5>2022.07</h5>
              <p><em>140/IH</em></p>
            </div>
            <div class="resume-item">
              <h4>1종보통운전면허</h4>
              <h5>2017.08</h5>
              <p><em>경찰청</em></p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">교육</h3>
            <div class="resume-item">
              <h4>빅데이터 분석가 양성과정(952H)</h4>
              <h5>2022.06 - Present</h5>
              <p><em>고용노동부/한국품질재단</em></p>
              <p>
              <ul>
                [Python] <br>
                - 기본문법 및 함수정의, API활용 크롤링<br>
                - numpy, pandas를 활용한 데이터 전처리<br>
                - matplotlib, seaborn, plotly 3대 라이브러리를 활용한 데이터 시각화 <br><br>

                [SQL]<br>
                - Oracle, DBeaver, PostgreSQL<br>
                - 데이터베이스 생성, 수정, 조회, 삭제<br>
                - Join, SubQuery를 활용한 다중 테이블 쿼리 추출<br><br>

                <li>공공데이터 활용 미니프로젝트 <br>
                  - 소방청 전국 산악사고 현황 데이터 시각화</li>
                <li>전 세계 코로나 확진자 데이터 시각화 <br>
                  - 국가별 확진자, 사망자, 회복자 수 파악<br>
                  - 미국 주별 확진자 변화 시각화</li>
                <li>Dacon - 여행사 고객 데이터셋 EDA 시각화 미니프로젝트</li>
                <li>Django를 활용한 웹 페이지(이력서/포트폴리오) 제작 프로젝트</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>MYSQL 데이터베이스 - 비교과 강좌 심화과정(24H)</h4>
              <h5>2022.05</h5>
              <p><em>안동대학교 SW융합교육원</em></p>
              <p>
                [MYSQL] <br>
                - MYSQL설치 및 기본설정 <br>
                - 데이터베이스, 테이블 생성 및 삭제 (CREATE, DROP 등) <br>
                - 데이터 조회 기본(SELECT, FROM, WHERE, GROUP BY, HAVING, ORDER BY) <br>
                - 테이블 결합(JOIN), 두개 이상 테이블 KEY값 연결 조회(SUBQUERY) <br>
                - MySQL Workbench로 데이터베이스 모델링(Forward Engimeering, Reverse Engineering) <br>
              </p>
            </div>
            <div class="resume-item">
              <h4>데이터 분석 시각화 양성과정(60H)</h4>
              <h5>2021.09 - 2021.11</h5>
              <p><em>안동대학교 SW융합교육원</em></p>
              <p>
                [Python]
                - 파이썬 개발환경 설정 <br>
                - 입, 출력 및 컬렉션 타입(list, tuple, dict, set) <br>
                - 조건(if, else), 반복(for, while) 제어문 <br>
                - 데이터수집을 위한 Python Crawling, API 활용과 beautifulsoup <br>
                - 워드클라우드, 텍스트마이닝 <br>
              <ul>
                <li>노령화 기사 텍스트마이닝 & 경상북도 지역(시/군)별 노령인구비율 시각화 미니프로젝트</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>POWER BI 기반 빅데이터 분석 및 활용 실무(40H)</h4>
              <h5>2021.08</h5>
              <p><em>안동대학교 취업창원지원과/한국품질재단</em></p>
              <p>
              <ul>
                - 새 측정값 계산으로 누계금액등 새 변수 계산 <br>
                - 설비관리 데이터를 활용한 대시보드 작성(파레토차트, 막대그래프) <br>
                - A/B Test, 설비효율관리 <br><br>

                <li>빅데이터 관리사 자격 취득</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->
{% endblock %}